/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
!/web/media/albums
/web/media/albums/*
!web/media/albums/.gitkeep
!/web/media/songs
/web/media/songs/*
!web/media/songs/.gitkeep
!/web/media/zips
/web/media/zips/*
!web/media/zips/.gitkeep
