<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Music, videos, infos, downloads, contact... come and enjoy !">
        <meta name="keywords" content="alexbc, music, atomos, ror, red old recorder, red, old, recorder">
        <title>{% block title %}Alex BC Music Board{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
